@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

.container {
    // background-color: aqua;
    height: 510px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 520px;
    width: 100%;
    z-index: -1;
    // object-fit: cover;
    // text-align: center;
}

// .background::before{
//     content: "fsd ";
//     height: 100%;
//     width: 100%;
//     background-color: rgb(75, 165, 132);
//     height: 520px;
//     width: 100%;
//     box-shadow: black;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1;

// }
.container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-color: rgba(18, 15, 15, 0.5);
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 0.5) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 31.5, 0.4) 50%, rgba(31.5, 31.5, 31.5, 0.5) 100%);
    z-index: 0;

}

.container-detail {
    position: absolute;
    z-index: 1;
    color: white;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    display: flex;
    align-items: center;
}

.poster {
    width: 300px;
    height: 450px;
    object-fit: cover;
    // box-shadow: ;
    overflow: hidden;
    border-radius: 10px;
}


.infor {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 30px;
}


.title {
    margin: 34px 0 0 0;
    font-size: 45px;
}

.date {
    font-size: 15px;
    font-weight: 200;
    margin: -5px 0 0 0;
}

.tagline {
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    color: white;
    font-weight: 200;
    margin-top: 15px;
}

.certification {
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    padding: 1px 2px;
    border: 1px solid orange;
    margin: 4px;
    color: orange;
}

.categoris {
    margin: 0 3px;
}

.catrgori {
    margin: 0 3px;
}

.overviewtitle {
    text-align: left;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}

h3 {
    margin: 10px 0;
    font-size: 22.5px;
}

.container-icons {
    margin-top: 10px;
    position: relative;
    display: flex;
}

.icon {

    background-color: #032541;
    width: 20px;
    height: 20px;
    padding: 15px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        color: #1dd4ab;
    }
}


.topbill {
    text-align: left;
    margin: 20px 10px 10px 10px;

}


.container-actors {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 250px;


}

.container-actors::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: #f1f1f1;
}

.container-actors::-webkit-scrollbar-thumb {
    background-color: rgba(3, 37, 65);
    border-radius: 10px;
}

.container-actors::-webkit-scrollbar-thumb:hover {
    background-color: #3c3a3a;
    border-radius: 10px;
}



.wrapper-actor {
    height: 90%;
    width: 138px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.actor-img {
    height: 150px;
    width: auto;
    min-width: 130px;
    border-radius: 10px 10px 0 0;

}

.wrapper-actor h3 {
    margin: 0;
    font-size: 15px;
}

.ontainer-progress {
    position: relative;
    width: 50px;
    display: flex;
    align-items: center;
}

.progress {
    display: flex;
    justify-content: left;
    position: absolute;

    color: white;
    margin-left: 10px;
    // float: left;
    height: 60px;

    background: black;
    width: 60px !important;
    border-radius: 50%;
    transition: 1s ease-in-out;
    // top: 151px;
    // left: -1px;
    &:hover {
        height: 65px;
        width: 65px !important;

    }
}

.user {

    margin: 4px 5px 0 80px;
    width: 40px;
    height: 100%;
}

//mobile width <740
@media only screen and (max-width: 739px) {
    .container{
        height: 333px;
    }
    .container-detail{
        // margin: 0;
        padding: 3px;
    }
    .infor{
        // margin: 0;

 
    }
    .poster{
        height: auto;
        display: none;
    }

    .title{
        font-size: 30px;
    }
    .date{
        display: flex;
        align-items: center;
        font-size: 10px;
    }

    h3{
        font-size: 15px;
    }
    .container-icons{
        // display: none;
        
    }
    .icon{
        width: 10px;
        height: 10px;
    }
    .tagline,.overviewtitle{
        font-size: 10px;
    }
}

//mt bangr
@media only screen and (min-width:740px) and (max-width:1024px) {
    body {
        background-color: aqua;
    }
}