@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=IBM+Plex+Sans:wght@600&family=Inter:wght@100&family=Montserrat:wght@300;500;600&family=Roboto:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');


.wrapper {
    height: 64px;
    width: 100%;
    background-color: #032541;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    padding: 0 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // color: #060606;

}

.image {
    height: 60px;
}

.Movies {
    padding-right: 30px;
}

.TVShow,
.People,
.More {
    padding-right: 30px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;

}

.left:nth-child(n+0) {
    cursor: pointer;
}

.right:nth-child(n+0) {
    cursor: pointer;
}

.language {
    border: 1px solid #fff;
    width: 28px;
    height: 26px;
    border-radius: 3px;
    transition: 0.5s;

    &:hover {
        background-color: #fff;
        color: #060606;
    }
}

.avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid orange;
}

.icon {
    height: 23px;
    width: 23px;
    padding-left: 25px;
    padding-right: 25px;
}

.search-color {
    color: #01b4e4;
}

//tipppy
.container-item {
    background-color: white;
    padding: 8px 0;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
}


.button-item {
    width: 100%;
    text-align: left;
    background-color: white;
    color: #01b4e4;
    border: none;
    padding: 8px;
    padding-left: 20px;
    font-weight: 500;

    &:hover {
        background-color: #f8f9fa;
    }
}

//right
.right-plus {
    text-align: center;
    font-weight: 200;
    // padding-left: 5px;
    // padding: 10px;
    width: 100%;
}

.addmovie,
.addshow {
    width: 100%;
    padding: 5px;
    text-align: left;

}

.addmovie:hover,
.addshow:hover {
    background-color: #032541;
    color: white;

}

.right-plus::before {
    align-items: center;
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    margin-left: 54px;
    margin-top: -19px;

}


//notification
.notification {
    width: 250px;
    padding: 13px;
}

.notification p {
    text-align: left;
    font-weight: 300;
}

.notification p a {
    color: goldenrod;
    text-decoration: underline;
}

.notification::before {
    align-items: center;
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    margin-left: 100px;
    margin-top: -24px;

}



///;profile
/// 
.wrapper-profile :first-child {
    border-bottom: 1px solid black !important;
}

.infor {
    text-align: left;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    // background-color: aqua;
    width: 100%;
    font-weight: 100;
    padding: 5px 0 5px 10px;

    &:hover {
        background-color: #032541;
        color: white;
        font-weight: 200;
    }

}


//mobile width <740
@media only screen and (max-width: 739px) {
    .wrapper{
        padding-left: 10px;
    }
    .image {
        width: 100px;
        height: auto;
    }
    .TVShow,.More,.icon,.language{
        display: none;
    }
    .avatar{
        margin-top: 2px;
    }
    
}

//mt bangr
@media only screen and (min-width:740px) and (max-width:1024px) {
    .TVShow{
        display: none;

    }
    .search-color{
        display: none;
    }
    .notification::before {
       
        margin-left: 112px;
    
    }   
}