@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.container {
    background-color: #032541;
    color: white;
    height: 200px;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
    text-align: left;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    // align-items: center;
}

.logo-footer{
    height: 100px;
}
.infor-contact {
    margin: 0 40px;
    
}

.social-network {
    text-align: center;
    }

.icon {
    width: 40px;
    color: rgb(255, 123, 0);
    margin-right: 8px;
}

a {
    width: 40px;
    height: 40px;
}

.social-media {
    margin: 10px;
    width: 20px;
    height: 20px;
    color: aliceblue;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.3);

    &:hover {
        background-color: rgba(128, 128, 128, 0.6);

    }

    &:hover:active {
        background-color: rgba(128, 128, 128, 0.8);

    }
}


//mobile width <740
@media only screen and (max-width: 739px) {
   .logo-footer,.socials{
    display: none;
   }
   .infor-contact{
        height: 330px;
        width: 100%;
        margin: 0 5px;
   }
}

//mt bangr
@media only screen and (min-width:740px) and (max-width:1024px) {
   
    .socials{
        display: none;
    }
}