.container-layoutfilm{
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    // margin-bottom: 200px;

}

.sitebar{
    float: left;
}

.container-film{
    width: 100%;
}

.footer{
    // position: fixed;
    // bottom: 0;
}
