.container-item {
    background-color: #fff;
    // border: 1px double black;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    width: 18%;
    height: 320px;
    display: inline-block;
    direction: ltr;
    margin: 5px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    border: 0.1px solid orange;


}



.img {
    height: 170px;
    // display: inline-block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: fill;
}



.title {
    text-align: left;
    // height: 200px;
    // width: 100%;
    padding-left: 4px;
    position: absolute;
    margin-top: 18px;
    
}
.title span:hover{
    color: #01b4e4;
}




.dateofilm ,.ratefilm span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: black;
}

.progress{
    display: flex;
    justify-content: left;
    position: absolute;
  
    color: white;
    margin-left: 10px;
    
    // float: left;
    height: 40px;

    background: black;
    width: 41px !important;
    border-radius: 50%;
    
    top: 151px;
    left: -1px;

}

//mobile width <740
@media only screen and (max-width: 739px) {
    
    .container-item{
        display: inline-block;
        width: 45%;
    }
}

//mt bangr
@media only screen and (min-width:740px) and (max-width:1024px) {
    .container-item{
        width: 23%;
    }
}